<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>pengrunrain@163.com</string>
	<key>artistId</key>
	<integer>351091734</integer>
	<key>artistName</key>
	<string>大众点评网</string>
	<key>bundleDisplayName</key>
	<string>大众点评</string>
	<key>bundleShortVersionString</key>
	<string>7.0.2</string>
	<key>bundleVersion</key>
	<string>7.0.2.2</string>
	<key>copyright</key>
	<string>2014 Dianping Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>生活</string>
	<key>genreId</key>
	<integer>6012</integer>
	<key>itemId</key>
	<integer>351091731</integer>
	<key>itemName</key>
	<string>大众点评-团购,美食,KTV,电影,酒店,外卖</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>大众点评网</string>
	<key>playlistName</key>
	<string>大众点评-团购,美食,KTV,电影,酒店,外卖</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-03-27T01:31:02Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-01-20T22:56:19Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1784.phobos.apple.com/us/r30/Purple1/v4/2e/a0/80/2ea0800b-f92e-d76e-304c-94357a273bd1/AppIcon57x57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.dianping.dpscope</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>811977925</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2283291</integer>
		<integer>2516195</integer>
		<integer>2816888</integer>
		<integer>2950795</integer>
		<integer>3091026</integer>
		<integer>3154964</integer>
		<integer>3314052</integer>
		<integer>3578551</integer>
		<integer>3690728</integer>
		<integer>3794987</integer>
		<integer>4017244</integer>
		<integer>4172970</integer>
		<integer>4938768</integer>
		<integer>5152417</integer>
		<integer>5859976</integer>
		<integer>6475786</integer>
		<integer>6798733</integer>
		<integer>7307653</integer>
		<integer>7610944</integer>
		<integer>8493090</integer>
		<integer>8961636</integer>
		<integer>10512633</integer>
		<integer>11172473</integer>
		<integer>11894874</integer>
		<integer>13276045</integer>
		<integer>13812778</integer>
		<integer>14784680</integer>
		<integer>14963694</integer>
		<integer>15246893</integer>
		<integer>15500783</integer>
		<integer>15748247</integer>
		<integer>15876888</integer>
		<integer>16106941</integer>
		<integer>16552653</integer>
		<integer>42892634</integer>
		<integer>104932639</integer>
		<integer>238942641</integer>
		<integer>265802667</integer>
		<integer>309282631</integer>
		<integer>421402701</integer>
		<integer>483162649</integer>
		<integer>521122653</integer>
		<integer>557123293</integer>
		<integer>582472647</integer>
		<integer>591554443</integer>
		<integer>612042641</integer>
		<integer>630532699</integer>
		<integer>661982645</integer>
		<integer>693083934</integer>
		<integer>720342682</integer>
		<integer>766093423</integer>
		<integer>800552724</integer>
		<integer>811536917</integer>
		<integer>811709271</integer>
		<integer>811778698</integer>
		<integer>811977925</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1427419800000&amp;sf=143465</string>
	<key>userName</key>
	<string>润 彭</string>
	<key>vendorId</key>
	<integer>257724</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
